# Copy this file to .env and fill in your actual values
# Never commit your real .env file

GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL_NAME=llama-3.1-70b-versatile

MONGODB_URI=mongodb+srv://finance_user:vdHeer3010@finance-rag-cluster.xlmnycq.mongodb.net/?appName=finance-rag-cluster
MONGODB_DB_NAME=finance_rag
MONGODB_COLLECTION_NAME=document_chunks
MONGODB_INDEX_NAME=vector_index

